/.idea/
*.iml
/logs/
/target/
bin/
build/
.gradle/
out/
/LavalinkServer/application.yml
*/dependency-reduced-pom.xml
*.jar
!gradle/wrapper/gradle-wrapper.jar
.project
.classpath
.settings
gradle.properties
application.yml
plugins
