/.idea/
*.iml
/logs/
/target/
/LavalinkServer/bin/
/LavalinkServer/application.yml
*/dependency-reduced-pom.xml
.gradle/*
build/*
*.jar
!gradle/wrapper/gradle-wrapper.jar
.project
.classpath
.settings
/Testbot/bin/
/Testbot/build/
/Testbot/out/
/plugin-api/bin/
/plugin-api/build/
/plugin-api/out/
gradle.properties
application.yml
plugins
